stages:
  - build
  - test

build_car:
  image: alpine
  stage: build
  script: 
    - echo "Start"
    - mkdir test_dir
    - cd test_dir
    - touch car.txt
    - echo "chassis" > car.txt
    - cat car.txt
  artifacts:
    paths:
      - test_dir/

test_car:
  image: alpine
  stage: test
  script: 
  - test -f test_dir/car.txt
  - grep "chassis" car.txt