stages:
  - lint
  # - security
  - build

variables:
  # Python settings
  PYTHONDONTWRITEBYTECODE: "1"
  PYTHONUNBUFFERED: "1"

  # Docker names
  DOCKERFILE_PATH: "./build/Dockerfile"
  CONTAINER_NAME: "some_site"

.python_base:
  image: python:3.10-slim
  before_script:
    - pip install -r ./app/requirements.txt

lint:
  extends: .python_base
  stage: lint
  script:
    - pip install flake8
    - flake8 .

# security_scan:
#   extends: .python_base
#   stage: security
#   script:
#     - pip install bandit safety
#     - bandit -r .       # Шукає небезпечний код (наприклад, hardcoded passwords)
#     - safety check      # Перевіряє ваші бібліотеки на відомі вразливості

build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -f "$DOCKERFILE_PATH" -t "$CONTAINER_NAME:$CI_COMMIT_SHORT_SHA" .

